.eventDetailsPage {
    display: flex;
  justify-content: center;
    padding: 40px 30px;
  }
  .imageofevent {
    width: 30%;
    height: 30%;
    display: block;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box; 
  }
  .eventdetails {
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto; 
  }
  .detailpageButton{
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 6px;
   
  }

  .bookingBox {
    border: 2px solid #ddd; 
    border-radius: 8px; 
    padding: 20px;
    max-width: 400px; 
    margin: 20px auto; 
    text-align: center; 
    box-shadow: 0px 4px 6px rgba(21, 21, 24, 0.1); 
    background-color: #f9f9f9; 
  }
  
  .bookNowFields {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center; 
  }
  
  .totalPrice {
    font-weight: bold;
    color: #333; 
    margin-top: 1rem;
  }
  