body {
  font-family: "Arial", sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding-top: 20px;
  height: 100vh;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.loginform {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

h1 {
  font-size: 23px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.inputlogin {
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fafafa;
  transition: border-color 0.3s ease;
}

.inputlogin:focus {
  border-color: #4caf50;
  outline: none;
}

.loginbutton {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginbutton:hover {
  background-color: #45a049;
}

/* Link Style for Signup */
p {
  font-size: 14px;
  color: #555;
  text-align: center;
}

a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
